/* hideScrollbar.css */
.hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
